In [2]:
import pandas as pd

In [37]:
data1 = pd.read_excel('ans.xlsx',sheet_name=0)
data1.head()

  OD  2  3    4    5   6   7   8   9  10  11  12  13  14  15  16  17  18  上车人数
0  1  0  0  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN     3
1  2  0  0  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN     5
2  3  0  0  NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN     2
3  4  0  0  0.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN     0
4  5  0  0  0.0  0.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN     0

In [38]:
data2 = pd.read_excel('ans.xlsx',sheet_name=1)
data2.head()

,乘车站数,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,Unnamed: 18
0,概率,0.006383,0.022341,0.052129,0.091226,0.127717,0.149003,0.149003,0.130377,0.101405,0.070983,0.045171,0.026350,0.014188,0.007094,0.003311,0.001448,0.000596,0.998726
1,归一化概率,0.006391,0.022370,0.052196,0.091343,0.127880,0.149193,0.149193,0.130544,0.101534,0.071074,0.045229,0.026383,0.014206,0.007103,0.003315,0.001450,0.000597,NaN

In [39]:
possion=data2.iloc[1,:]

In [40]:
possion

乘车站数              归一化概率
1              0.006391
2               0.02237
3              0.052196
4              0.091343
5               0.12788
6              0.149193
7              0.149193
8              0.130544
9              0.101534
10             0.071074
11             0.045229
12             0.026383
13             0.014206
14             0.007103
15             0.003315
16              0.00145
17             0.000597
Unnamed: 18         NaN
Name: 1, dtype: object

In [47]:
# data1.iloc[:,1:19].
data1.index = data1['OD']

In [48]:
ans = data1.iloc[:,1:19]

In [49]:
ans

,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,上车人数
OD,,,,,,,,,,,,,,,,,,
1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
3,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
7,0,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
11,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
13,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
14,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0
15,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0
16,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0
17,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0
下车人数,0,0,2.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6.0,12

In [44]:
Y = ans['上车人数']
Y

OD
1        3
2        5
3        2
4        0
5        0
6        1
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
下车人数    12
Name: 上车人数, dtype: int64

In [ ]:
for j in range(2,19):
    syp = sum(Y[k]*possion[j-k] for k in range(1,j))
    for i in range(1,j):
        ans.loc[i,j] = int((ans.loc['下车人数',j]*Y[i]*possion[j-i])/syp)
        Y[i] = Y[i]-ans.loc[i,j]